<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/fontawesome-free/css/all.min.css")">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")">
    <!-- iCheck -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/icheck-bootstrap/icheck-bootstrap.min.css")">
    <!-- JQVMap -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/jqvmap/jqvmap.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/dist/css/adminlte.min.css")">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/daterangepicker/daterangepicker.css")">
    <!-- summernote -->
    <link rel="stylesheet" href="@Url.Content("~/plugins/summernote/summernote-bs4.min.css")">
    <!-- Component css -->
    <link rel="stylesheet" href="@Url.Content("~/css/admin_styles.css")">

</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        
        <!-- Content Wrapper (The Dynamic Part) -->
        <div class="content-wrapper">
            @RenderBody() <!-- Nội dung động sẽ hiển thị tại đây -->
        </div>
        <!-- /.content-wrapper -->
    </div>

    <!-- jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/adminlte.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        // Hàm để chuyển đổi trạng thái mờ
        function fadeOutAndRedirect(url) {
            document.body.classList.add('fade-out'); // Thêm lớp mờ

            // Chờ cho đến khi hiệu ứng mờ hoàn tất
            setTimeout(function () {
                window.location.href = url; // Chuyển đến URL mới
            }, 500); // Thời gian mờ bằng thời gian trong CSS (500ms)
        }
    </script>
</body>
</html>
