@model IEnumerable<MVCmodel.Models.Room>

@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_AdminLayout";
}


<h1>Room</h1>

<p>
    <a class="create-button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hotel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.HotelID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RoomID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
